*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid .colun{
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
}

.grid .content{
    width: 100%;
    height: 100%;
    background-color: red;
}

/*Dividir em 1 coluna*/
@media (max-width:500px){
    .grid .colun{
        width: 100%;
    }
}

/*Dividir em 2 colunas*/
@media (min-width:500px) and (max-width: 700px){
    .grid .colun{
        width: 50%;
    }
}

/*4 colunas*/
@media (min-width:700px) and (max-width: 1000px){
    .grid .colun{
        width: 25%;
    }
}

/*5 colunas*/
@media (min-width:1000px){
    .grid .colun{
        width: 15%;
    }
}