* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Flex direction row*/

.flex-container{
    background-color: yellow;
    display: flex;
    flex-direction: row; /*Eixo na horizontal*/
    align-content: center;
    justify-content: flex-end; /*Propriedade para alinhas os itens nesse eixo*/
    width: 100%;
    height: 300px;
}

.flex-item{
    background-color: red;
}

/*Flex direction column*/

.flex-container-2{
    background-color: blue;
    display: flex;
    flex-wrap: wrap; /*Quebra a linha e habilita usar o align-content*/
    flex-direction: column; /*Eixo na vertical*/
    align-items: center; /*Propriedade para alinhas os itens nesse eixo*/
    width: 100%;
    height: 300px;
}

.flex-item-2{
    background-color: green;
}

/*Fazendo uma grid*/

.flex-container-3{
    display: flex;
    justify-content: space-between;
    background-color: darkgreen;
    flex-wrap: wrap;
    flex-direction: row;
    height: 300px;
}

.flex-item-3{
    background-color: purple;
    margin: 10px;
    flex-basis: 200px;

    /* flex: 1 1 400px; Atalho para definir: grow, basis e shrink.*/
}