* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    margin: 0 auto;
}

.grid div {
    background: darkblue;
    height: 50px;
    color: white;
}